{% extends "header.html" %}

{% block content %}

{% if session.logged %}
<div class="container-full admin-panel">
  <ol>
    <li><a href="{{ url_for('insert') }}">Insert object</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
  </ol>
</div>
{% endif %}

<div class="container breadcrumb-block">
  <ol class="breadcrumb">
    <li><a href="{{ url_for('root') }}">Home</a></li>
  </ol>
</div>

<div class="container">
  <h1>Sorry!</h1>
  <h2>I think you are lost!</h2>
  <p class="lead">
    The url that you provide is not correct or maybe is broken. If you think that is the second case please <!DOCTYPE html>
    not hesitate and <a href="{{ url_for('contact') }}">contact us</a>.
  </p>
</div>
{% endblock %}}
