{% extends "header.html" %}

{% block content %}
<div class="container breadcrumb-block">
  <ol class="breadcrumb">
    <li><a href="{{ url_for('root') }}">Home</a></li>
    <li><a href="{{ url_for('objects') }}">Objects</a></li>
    <li class="active"><a href="{{ url_for('object') }}">Object</a></li>
    <li class="active"><a href="{{ url_for('edit') }}">Edit</a></li>
  </ol>
</div>

{% if error %}
<div class="alert alert-danger">
  <strong>Alert!</strong> Result of login : {{ error }}
</div>
{% endif %}

{% if session.logged %}
<div class="container">

  {% if object_id %}
  <form action = "{{ url_for('update', id=object_id.id) }}" method = "POST">
     <h3>Edit  object</h3>

     <div class="form-group">
       <label for="type">Type:</label>
       <input type="text" name="type" class="form-control" placeholder="Planet, Star, Black hole.." value="{{ object_id.type }}" /></br>
     </div>

     <div class="form-group">
       <label for="name">Name:</label>
       <input type="text" name="name" class="form-control" placeholder="Earth, Mars, O12329.." value="{{ object_id.name }}" /></br>
     </div>

     <div class="form-group">
       <label for="description">Description:</label>
       <textarea class="form-control" rows="5" name="description">{{ object_id.description }}</textarea>
     </div>

     <div class="form-group">
       <label for="size">Size:</label>
       <input type="text" name="size" class="form-control" placeholder="KMs" value="{{ object_id.size }}" /></br>
     </div>

     <div class="form-group">
       <label for="mass">Mass:</label>
       <input type="text" name="mass" class="form-control" placeholder="Compare to Earth - 1" value="{{ object_id.mass }}" /></br>
     </div>

     <div class="form-group">
       <label for="distance">Distance:</label>
       <input type="text" name="distance" class="form-control" placeholder="Average distance from Earth" value="{{ object_id.distance }}" /></br>
     </div>

     <div class="form-group">
       <label for="discoverer">Discoverer:</label>
       <input type="text" name="discoverer" class="form-control" placeholder="Earth, Mars, O12329.." value="{{ object_id.discoverer }}" /></br>
     </div>

     <div class="form-group">
       <label for="image_url">Image url:</label>
       <input type="text" name="image_url" class="form-control" placeholder="Path to the URL" value="{{ object_id.image_url }}" /></br>
     </div>

     <button type="submit" value="submit" class="btn btn-default">Submit</button>
  </form>
  {% endif %}
</div> <!-- /container -->
{% else %}
    <p>You need to login in order to edit an element.</p>
{% endif %}
{% endblock %}


div class="container">
