{% extends "header.html" %}

{% block content %}
<div class="container breadcrumb-block">
  <ol class="breadcrumb">
    <li><a href="{{ url_for('root') }}">Home</a></li>
    <li><a href="{{ url_for('objects') }}">Objects</a></li>
    <li class="active"><a href="{{ url_for('object') }}">Object</a></li>
  </ol>
</div>

<div class="container">
  <h1>Single Object</h1>
  <h2>With a subtitle</h2>

  <p>
    Insert a new value <a href="{{ url_for('insert') }}">here</a>
  </p>

  {% if object_id %}
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Type</th>
          <th>Name</th>
          <th>Description</th>
          <th>Size</th>
          <th>Mass</th>
          <th>distance</th>
          <th>Discoverer</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>{{ object_id.id }}</td>
          <td>{{ object_id.type }}</td>
          <td>{{ object_id.name }}</td>
          <td>{{ object_id.description }}</td>
          <td>{{ object_id.size }}</td>
          <td>{{ object_id.mass }}</td>
          <td>{{ object_id.distance }}</td>
          <td>{{ object_id.discoverer }}</td>
          <td><img src="{{ url_for('static', filename=object_id.image_url) }}" alt="{{ object_id.name }}" style="width:150px;height:150px;"></td>
        </tr>

    </tbody>
  </table>

  {% else %}

    <p>No objects found.</p>

  {% endif %}
</div>

{% endblock %}
